body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url(/Background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  border-radius: 20px;
}
